@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.timeframes {
  background: $dark-blue;
  border-radius: $cards-border-radius;
  overflow: hidden;
  padding: 3.2rem;

  @include small-screen {
    display: flex;
    padding: 0;
  }

  li {
    margin-bottom: 2.1rem;

    @include small-screen {
      flex-grow: 1;
      text-align: center;
      margin-bottom: 0;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  .timeframe {
    font-size: 1.8rem;
    color: $desatured-blue;
    padding: 1rem;
    margin: -1rem;

    @include small-screen {
      padding: 2.5rem 1rem;
      margin: 0;
      width: 100%;
    }

    &:hover {
      color: $white;
    }

    &.active {
      color: $white;
    }
  }
}
